
 
.header{
    background: rgb(102, 102, 248);
}

.main{
    background: rgb(61, 61, 226);
}
.aside{
    background:rgb(43, 43, 255);
}
.footer{
    background: rgb(3, 3, 105);
    

}

@media screen and (min-width:400px ) and (max-width:850px){
    .header{
        background: rgb(246, 12, 12);
    }
    
    .main{
        background: rgb(151, 233, 20);
    }
    .aside{
        background:rgb(11, 85, 4);
    }
    .footer{
        background: rgb(210, 11, 228);
        
    
    }
}